<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% apply striptags %}{% block title '' %}{% endapply %} | Linkmat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700|Roboto:300,400&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') | replace({'<script': '<script defer'}) | raw }}
            {{ encore_entry_script_tags('admin') | replace({'<script': '<script defer'}) | raw }}
        {% endblock %}
        <meta name="turbolinks-cache-control" content="no-cache"/>
    </head>
    <body>
    {%  include 'nav/navigation.html.twig' %}

    <div class="dashboard py5">

        {% block body '' %}
    </div>
    </body>
</html>
