<nav class="header">
    <ul class="header-nav">
        <li><a href="#">Acceuil</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Truc & astuce</a></li>
        <li><a href="#">Live</a></li>
        <li><a href="#">Mods</a></li>
    </ul>
    <ul class="header-side">
        {% if app.user %}
            <li class="header__account"><a href="{{ path('app_logout') }}"> {{ app.user.username }}</a>
            </li>
        {% else %}
            <li class="header__account"><a href="{{ path('app_login') }}"> Se connecter</a></li>
        {% endif %}
    </ul>
</nav>